<!DOCTYPE html>
<html>
<head>
	<title>Word Analyser</title>
	<meta charset="utf-8">
	<style>
		body {
		{% if "67" in text %}
			background-color: pink;
		{% elif "asr" in text.lower() %}
			background-color: teal;
			color: orange;
		{% else %}
			background-color: gold;
		{% endif %}
		}
	</style>
</head>
<body>
	<h1>{% if "asr" in text.lower() %}
	WELCOME TO ASR!! THE BEST JC EVER <br>
	<img src="static/asrjc.jpg" width ="300px">
	{% elif "cjc" in text.lower() %}
	WELCOME TO CJC!
	<img src="static/cjc.jpg" width ="300px">
	{% elif "sajc" in text.lower() %}
	WELCOME TO SAJC!
	<img src="static/sajc.jpg" width ="300px">
	{% elif "vjc" in text.lower() %}
	WELCOME TO VJC!
	<img src="static/vjc.jpg" width ="300px">
	{% endif %}
	</h1>
	<h1>foreshadowing (v.)</h1>
	<h2> your text is: {{ text }} </h2>
	<h2> your text's length is {{ len_text }} </h2>
	<h2> you have {{ vowel_count }} vowels </h2>
	<h2> you have {{ consonant_count }} consonants </h2>
	<h2> letter frequency: </h2>
	<ul>
	{% for letter, freq in letter_freq.items() %}
		{% if freq == 1 %}
		<li>{{ letter }} appeared {{ freq }}once</li>
		{% elif freq == 2 %}
		<li>{{ letter }} appeared twice</li>
		{% elif freq > 3 %}
		<li>{{ letter }} appeared {{ freq }}times. It is very commonly seen</li>
		{% else %}
		<li>{{ letter }} appeared {{ freq }}times</li>
		{% endif %}
	{% endfor %}
	</ul>
	<ul>
	<h2> Past words </h2>
	{% for word in past_words[::-1] %}
		{% if word != "favicon.ico" %}
		<p>{{ word }}</p>
		{% endif %}
	{% endfor %}
	</ul>
</body>
</html>